---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("April 23 2024")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    I'm Abdushakoor and I'm a mobile app developer. I mostly work with Flutter.
    Contact me at my <a href="mailto:abdushakoor009@gmail.com" target="_blank"
      >Email
    </a>
  </p>
</Layout>
