---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="Projects"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("December 31 2024")}
>
	<ul>
		<li>
			<a href="https://abdushakoor12.github.io/DevGarage/">Dev Garage</a>
			- A Flutter web project for some dev tools
		</li>
		<li>
			<a href="https://ayahsnap.pages.dev/">Ayah Snap</a>
			- Get beautiful ayah pictures
		</li>
		<li>
			<a href="https://github.com/abdushakoor12/alquran_client">AlQuran Client</a>
			- A Dart client for <a href="https://alquran.cloud">alquran.cloud</a>
		</li>
	</ul>
</Layout>
