---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Projects"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
>
	<p>
		I'm abdushakoor
	</p>
</Layout>
